<app-toolbar>
  <div logo>
    <span>JA</span>
    <img src="./assets/logo.svg" width="40" alt="" />
    <span>UE</span>
  </div>

  <div tools>
    <app-dark-mode-switcher
      (darkModeSwitched)="onSwitchMode($event)"
      [isDarkMode]="isDarkMode"
    ></app-dark-mode-switcher>
    <app-hamburger (click)="onToggle()"></app-hamburger>
  </div>
</app-toolbar>

<app-sidenav>
  <div menu>
    <div class="profile"></div>
    <mat-icon (click)="onSignOut()">logout</mat-icon>
  </div>
  <div content>
    <app-list-users></app-list-users>
  </div>
</app-sidenav>
