app-toolbar {
  display: flex;
  justify-content: space-around;
  div {
    &:first-child {
      cursor: pointer;
      span {
        position: absolute;
        &:first-child {
          top: 0.9em;
        }
        &:last-child {
          top: 0.35em;
          left: 71px;
        }
      }
      img {
        position: absolute;
        top: 0.5em;
        left: 36px;
      }
    }
    &:last-child {
      display: flex;
      justify-content: space-between;
      width: 130px;
    }
  }
}

app-sidenav {
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 120px);
    padding: 20px 30px;
    .header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      .profile {
        display: flex;
        justify-content: space-between;
        padding: 0 15px 0 5px;
        .mat-icon {
          font-size: 32px;
          cursor: pointer;
        }
      }
      .mat-selection-list {
        margin: 30px 0;
        .mat-list-option {
          width: 100%;
          margin: 10px 0;
        }
      }
    }
    span {
      font-size: 14px;
      a {
        text-decoration: none;
      }
    }
  }
  .content {
    padding: 20px;
    app-list-users {
      width: 100%;
    }
  }
}
