<div
  class="container"
  matTooltip="Displays user list"
  matTooltipPosition="above"
>
  <h1>User list</h1>
  <p>Below is displayed a list with all the users</p>

  <mat-table class="w-100" [dataSource]="datasource" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef>First name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.first_name }}</mat-cell>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>Last name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.last_name }}</mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef>Gender</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.gender }}</mat-cell>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
      <mat-cell *matCellDef="let element"
        ><img [src]="element.image" width="24"
      /></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-card *ngIf="isLoading" style="display: flex; place-content: center">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>

  <mat-paginator
    class="mat-elevation-z8"
    [length]="users.length"
    [pageSize]="5"
    showFirstLastButtons
  ></mat-paginator>
</div>
