app-toolbar {
  display: flex;
  justify-content: space-between;
  span {
    position: absolute;
    &:first-child {
      top: 1.1em;
    }
    &:last-child {
      top: 0.5em;
      left: 71px;
    }
  }
  img {
    position: absolute;
    top: 0.57em;
    left: 36px;
  }
}
