@import "~@angular/material/theming";
@include mat-core();

@import "./assets/styles/jaque-color-palette";
@import "./assets/styles/jaque-theme";
@include app-style-core();

$mat-light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);
$mat-dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #394762, #1c2531);
}

.theme-dark {
  @include jaque-theme($mat-dark-theme);
}
.theme-light {
  @include jaque-theme($mat-light-theme);
}
