@import "~@angular/material/theming";

@import "./assets/styles/jaque-color-palette";
@import "./assets/styles/jaque-theme";

$mat-light-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
$mat-dark-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

@include app-style-core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
}

.theme-dark {
  @include jaque-theme($mat-dark-theme);
}
.theme-light {
  @include jaque-theme($mat-light-theme);
}
