// Global color palettes
/* For use in src/lib/core/theming/_palette.scss */
$mat-primary: (
  50: #e6eff6,
  100: #c1d7e8,
  200: #97bdd8,
  300: #6da3c8,
  400: #4e8fbd,
  500: #2f7bb1,
  600: #2a73aa,
  700: #2368a1,
  800: #1d5e98,
  900: #124b88,
  A100: #bbd9ff,
  A200: #88bdff,
  A400: #55a1ff,
  A700: #3b93ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$mat-accent: (
  50: #fce7e9,
  100: #f8c2c8,
  200: #f49aa3,
  300: #f0727e,
  400: #ec5363,
  500: #e93547,
  600: #e63040,
  700: #e32837,
  800: #df222f,
  900: #d91620,
  A100: #ffffff,
  A200: #ffd7d9,
  A400: #ffa4a8,
  A700: #ff8b8f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$app-primary: mat-palette($mat-primary);
$app-accent: mat-palette($mat-accent, 300, 100, 600);
$app-warn: mat-palette($mat-red);
